@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
	font-family: "apercu";
	src: url("../fonts/Apercu\ Regular.otf");
}

body{
	font-family: "apercu" !important;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/

.navbarHeader{
	background-color: white;
    border-bottom: 2px solid black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}
.NavMenuLink
{
	text-decoration: none;
  color: black;
  position: relative;
  cursor:pointer;
  padding-left:20px;
  padding-right:20px;
}

.NavMenuLink:hover{
	color: #43cc87;
}

.NavMenuLink::after{
	background-color: #43cc87;
	color: white;
	border-radius: 10px;
	border-color: 2px solid #D3D3D3;
}

.NavMenuLink:active{
	background-color: #43cc87;
	color: white;
	border-radius: 10px;
	border-color: 2px solid #D3D3D3;
}
  


.containerHeader
{
    display:flex;
    justify-content: space-between;
}
 .logo:hover
 {
    cursor: pointer;
    transform: scale(1.1);
 }
.slide-enter {
    transform: translateX(100%);
    opacity: 0;
    }
    .slide-enter-active {
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.5s ease-in-out;
    }
    .slide-exit {
    transform: translateX(0%);
    opacity: 1;
    }
    .slide-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    }
  
  
  
  .PlacementUser
  {
    margin-left: auto;
    display: flex;
  }
  .displayFlexAttributes
  {
    display: flex;
  }
  .PlacementElementUser
  {
    margin-top: auto;
    margin-bottom:auto;
    padding:10px;
  }
  .PlacementMenu 
  {
    margin-left: auto;
  }