.messagerie {
    background-color: #fff;
    color: #006400;
    font-size: 1.2rem;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right:5%;
    margin-left:5%;
  }
  
  .recipient-select, .message-input, .message-submit {
    margin: 0.5em 0;
  }
  
  .message-list {
    border-top: 1px solid #006400;
    margin-top: 1em;
    padding-top: 1em;
  }
  
  .message {
    border-bottom: 1px solid #e0e0e0;
    padding: 0.5em 0;
  }
  
  .message:last-child {
    border-bottom: none;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
  }
  
  .message-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .message-input {
    flex-grow: 1;
    margin-right: 1em;
  }
  
  .message-submit {
    background-color: #006400;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .create-conversation-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 4px; /* Rounded corners */
    transition-duration: 0.4s; /* Transition effects on hover */
}

/* Change background color of button on hover */
.create-conversation-button:hover {
    background-color: #45a049;
}

  .message-submit:hover {
    background-color: #004c00;
  }
  
  .message-submit:active {
    background-color: #003300;
  }
  .create-conversation
  {
    display: flex;
  }
  .recipient-select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
    transition-duration: 0.4s;
    background-color: white;
    color: #333;
    margin-left: 14px;
    margin-right: 14px;
}

/* Style for when select is hovered */
.recipient-select:hover {
    border-color: #888;
}

/* Style for when select is focused */
.recipient-select:focus {
    outline: none;
    border-color: #4CAF50; 
}
