body {
}

.form-control:focus {
    box-shadow: none;
}

.profile-button {
    box-shadow: none;
    border: none
}

.profile-button:hover {
}

.profile-button:focus {
    box-shadow: none
}

.profile-button:active {
    box-shadow: none
}

.back:hover {
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.buttonSaveProfil
{
    background:rgb(55 182 108) !important
}