.progress-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
  }
  
  .progress-bar-step {
    position: relative;
    width: calc(100% / 3);
    height: 2px;
    background-color: #ccc;
  }
  
  .progress-bar-step.completed {
    background-color: #43cc87;
  }
  
  .progress-bar-circle {
    position: absolute;
    top: -6px;
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #43cc87;
    color: #004d40;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-bar-label {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    color: #43cc87;
    font-weight: bold;
    text-transform: uppercase;
  }
  